body {
  background-color: #2a75bb;
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #ffcb05;
  padding: 10px;
}
.pk-button {
  background-color: rgba(0,0,0,0.0);
  color: #ffcb05;
  border:10px solid #ffcb05;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 6px 6px;
  width: 200px;
  cursor: pointer;
  transition-duration: 0.4s;
  text-transform: capitalize;
}

.pk-button:hover {
  width: 250px;
  color:#000000;
  background-color:#FFFFFF;
  letter-spacing: 2px;

}

.pokemon-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

#pkModal {
  color:#000000;
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px; 
}

img {
  margin: 20px;

}

  .notCapitalised {
    text-transform: none;
  }

   .list-group-item{
    background: none;
    border: none;
  }
